
 /**Landing page section styles**/
body {
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}
header {
  background-color: #333;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
/**navigation bar section styles**/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  
}
/**Hero section styles**/
#hero-section {
    background-image: url("assets/web-hero.png");
    
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    justify-content: center;
    text-align:center;
    align-items: center;
  }
  #hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .hero-content {
    position: static;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    
  }
  .hero-content a {
    color: rgb(66, 66, 212);
    text-decoration: none;
    font-weight: bolder;
  }

  .hero-content a:hover {
    background-color: white;
  }
  h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  
    /**My about section styles**/
   #about-body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
   } 
   .container-about {
   justify-content: space-between;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 900px;
    background-color:rgb(239, 223, 200);
    
   }
   
   .Bio-image {
    /* background-image: url(""); */
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 50px 20px;
    padding-right: 70px;
   
   }
   .Bio-image img {
    width: 150%;
    height: 200%;
    margin-left: 40px;
   }
   .Right-container {
    width: 40%;
    /* margin-left: 40px; */
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    
   }
   .Bio-info h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-align: center;
   }
   .Bio-info p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #666;
   }
   .skills {
    margin-top: 20px;
   }
   .button-group {
    margin-top: 20px;
    text-align: center;
   }
   .button-group a {
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
    
   }
   .button-group a:hover {
    background-color: #272924;
   }
  /* contact Section Styles */
  .body-contact {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container-contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
 }
.contact-form {
  padding: 5px;
  
  
}
.contact-info {
  padding: 5px;
}

.contact-info ul li {
padding: 20px;
list-style-type: none;
}
 
label {
  font-weight: bold;

}

.contact-form input, textarea {
  width: 100%;
  /* padding: 15px 20px; */
  /* border: 1px solid #ccc; */
  border: none;
  font-size: 16px;
  height: 45px;
  background: transparent;
  border-bottom: 1px solid #43434d;
  border-radius: 0;
  }

.contact-form h1 {
  text-align: center;
  width:100%;
}
.contact-info a {
  text-decoration: none;
}
/**projects style**/
.project-video {
  display: flex;
  justify-content:center;
  padding-top: 50px;

}
.headi {
  text-align: center;
}

/**social media style**/
 .social-media a {
  padding: 5px;
 }

.fa:hover {
    opacity: 0.7;
}


/**footer style**/
.home-footer, 
.blog-footer, 
.contact-footer,
.project-footer,
.resume-footer,
.about-footer {
  color: rgb(7, 7, 7);
  text-align:center;
}
.home-footer p, 
.blog-footer p, 
.contact-footer p,
.project-footer p,
.resume-footer p,
.about-footer p
{
  font-size: small;
}

/**REsume section**/
